apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-producer
  namespace: kafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-producer
  template:
    metadata:
      labels:
        app: kafka-producer
    spec:
      containers:
        - name: producer
          image: dema0/kafka-producer:latest
          ports:
            - containerPort: 8080
          env:
            - name: KAFKA_BROKER
              value: kafka:9092
