apiVersion: v1
kind: Service
metadata:
  name: kafka-producer
  namespace: kafka
spec:
  type: LoadBalancer
  selector:
    app: kafka-producer
  ports:
    - port: 80
      targetPort: 8080
